:root{
    --box_height:min(50vw,50vh);
    --box_width: min(50vw,50vh);

    --ball_height: min(10vw,10vh);
    --ball_width:min(10vw,10vh);

    --string_height:calc(var(--box_height) - 2 * var(--ball_height));

    --origin_y:calc(var(--string_height) + var(--ball_height) / 2);


}

*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(45deg,red,blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#box{
    padding-bottom: 10px;
    background-color: skyblue;
    width:var(--box_width);
    height: var(--box_height);
    display: flex;
    align-items:flex-end;
    justify-content: center;
    transform-origin: 50% 50%;

    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);

}
.ball{
    /* border: 1px solid black; */
    box-sizing: border-box;
    width: var(--ball_width);
    height:var(--ball_height);
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    transform-origin: 0 calc(-1 * var(--origin_y));
    
    background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
   
}
.ball::before{
    content: '';
    width: min(0.2vw,0.2vh);
    height:var(--string_height);
    background-color: white;
    display: block;
    position: relative;
    bottom: var(--string_height);
    z-index: 4;

}
#ball_1{
    animation-name: move_1;
}
#ball_4{
    animation-name: move_4;
}
#ball_1,#ball_4{
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

#ball_2,#ball_3{
    animation-name: collide;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move_1 {
    0%{
        transform: rotate(35deg);
    }
    50%{
        transform:rotate(0deg);
    }
   
}

@keyframes move_4 {
    100%{
        transform: rotate(-36deg);
    }
    50%{
        transform:rotate(0deg);
    }
   
}

#box::after{
    align-self: flex-start;
    background: linear-gradient(45deg,red,blue);
    height: calc(var(--box_height) / 3);
    width: 100vw;
    content: '';
    position: absolute;
    z-index: 9;

}

@keyframes collide {
    50%{
        transform: scale(0.98);
    }
    0%{
        transform: scale(1);
    }
    
}